@using Microsoft.AspNetCore.Identity
@using Oversteer.Data.Models.Users;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ICompaniesService Companies
@inject IClientsService Clients
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.GetId();
        var userIsCompany = Companies.UserIsCompany(userId);
        var userIsAdmin = User.IsAdmin();
        var userClientId = await Clients.GetClientIdByUserId(userId);

        @if (!userIsAdmin && userIsCompany)
        {
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="Cars" asp-action="Add">Add Car</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="Cars" asp-action="MyCars">My Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="Company" asp-controller="Companies" asp-action="AddLocation">Add Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="Company" asp-controller="Rentals" asp-action="All">All Rents</a>
            </li>
        }
        else if (userClientId != 0)
        {
            <li class="nav-item">
                <a class="nav-link text-black" asp-area="" asp-controller="Rentals" asp-action="MyRents">My Rents</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-black" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-black">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-black" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>