@model CarFormModel

@{
    ViewBag.Title = "Add Car";
}

<partial name="_CarFormPartial" model="@Model" />

<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <a class="btn btn-success" onclick="AddMoreNames()">+</a>
    <input class="btn btn-primary" type="submit" onclick="carForm.submit()" value="Save" />
</div>

@section Scripts {
    <script src="/lib/signalr/dist/browser/signalr.js"></script>
    <script src="/js/notify.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"
            integrity="sha256-BDmtN+79VRrkfamzD16UnAoJP8zMitAz093tvZATdiE="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var allOptions = $('#selectprod option')
            $('#selectcat').change(function () {
                $('#selectprod option').remove()
                var classN = $('#selectcat option:selected').prop('class');
                var opts = allOptions.filter('.' + classN);
                $.each(opts, function (i, j) {
                    $(j).appendTo('#selectprod');
                });
            });
        });
    </script>

    <script>
        var nameIndex = 0;
        function AddMoreNames() {
            $("#names").
                append("<div class='form-group'>Name: <input class='form-control' name='CarFeatures[" + nameIndex + "].Name' /></div>");
            nameIndex++;
        }
    </script>
}
