@model CompanyDetailViewModel

<h1>OUR COMPANY IN NUMBERS</h1>
<hr class="border-warning" />
<tr>
    <td>
       <img src="~/Images/details-cars.png" /> @Model.CarsCount NEW CARS
    </td>

    <td>
        <img src="~/Images/details-users.png" />  @Model.ClientsCount SATISFIED CUSTOMERS
    </td>

    <td>
        <img src="~/Images/details-reviews.png" />  @Model.Feedbacks REVIEWS
    </td>

    <td>
        <img src="~/Images/details-rating.png" />   @Model.Rating/5 RATING FOR OUR CARS
    </td>
</tr>

